fastapi==0.111.0
uvicorn[standard]==0.30.1
python-dotenv==1.0.1
httpx>=0.28.1
playwright==1.44.0
playwright-stealth==1.0.6
PyPDF2==3.0.1
reportlab==4.2.0
pydantic==2.7.4
pydantic-settings==2.3.4
pymupdf
pymupdf4llm
google-genai>=1.5.0
prisma
sentry-sdk[fastapi]==2.8.0
matplotlib
seaborn
arq>=0.26.0
aiohttp
markdown
plotly==5.22.0
kaleido==0.2.1
